.client-bookings {
  position: absolute;
  top: 110px;
  left: 388px;
  width: 972px;
  padding: 24px;
  border-radius: 12px;

  .title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px; 
    color: #000000;
  }

  .date {
    text-align: center;
    font-size: 16px; 
    font-weight: 400;
    color: #000000;
    margin: 16px 0 8px;
  }

  .booking-card {  
    margin-top: 20px;
    height: 145px;
    background-color: #E8F6FD;
    border-radius: 12px;
    padding: 16px 26px;
    position: relative;
    margin-bottom: 16px;  
    border-radius: 20px;

    p { 
      width: 500px;
      margin: 6px 6px;
      font-size: 16px;
      line-height: 1.4;

      strong {
        font-weight: 600;
      }
    }

    .time {
      position: absolute;
      bottom: 16px;
      right: 20px;
      font-size: 14px;
      color: #333;
    }
  }
}
