.container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 14px; 

  th {
    text-align: left;
    padding: 14px 0px;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
     vertical-align: middle;
  }

  td {
    padding: 19px 12px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 150px; 
    vertical-align: middle;
  }

 

  
}

.actions {
  display: flex;
  gap: 8px;

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;

    &.delete {
      color: #e91e63;

      &:hover {
        opacity: 0.8;
      }
    }

    &.edit {
      color: #3f51b5;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
