.container {
  width: 100%;
  background: white;
  overflow-x: auto;
  border-radius: 10px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  font-size: 14px;

  th {
    text-align: left;
    padding: 14px 0px;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
  }

  td {
    padding: 19px 12px;
    color: #4a4a4a;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    vertical-align: middle;
  }
}

.nameBtn {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.actions {
  display: flex;
  gap: 8px;

  .delete {
    color: #e91e63;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .edit {
    color: #3f51b5;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
}
